* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #26B4BC;
}

button {
    /*border: 10px solid #003DA6;*/
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    inline-size: 32px;
    block-size: 32px;
    cursor: pointer;
}

.button:active {
    transform: scale(.9);
}

#play {
    background-image: url("../images/play.svg");
}

#pause {
    background-image: url("../images/pause.svg");
}

#backward {
    background-image: url("../images/-10.svg");
}

#forward {
    background-image: url("../images/+10.svg");
}

.wrapper {
    max-inline-size: 900px;
    margin: auto;
}

.player {
    margin-block-start: 100px;
    /*border: 10px solid #003DA6;*/
    position: relative;
}

.player video {
    inline-size: 100%;
    /*aspect-ratio: 16/9;*/
    vertical-align: middle;
    object-fit: cover;
}

.player .player-title {
    color: #FFF;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
    padding-top: 20px;
}

.player .player-actions {
    position: absolute;
    inset: 0;
    /*border: 10px solid #003DA6;*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.player-progress {
    /*background-color: #003DA6;*/
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
    z-index: 2;
}

.player-progress input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.434);
}